html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
}

body{
    background-color: #F7F7F7;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
    color: rgb(51, 51, 51);
    vertical-align: middle;
    display: inline-block;
}

h2{
    font-size: 24px;
    color: #4999A7;
    font-weight: bolder;
    display: inline;
    vertical-align: middle;
}

h3{
    font-size: 22px;
    font-weight: bold;
}

h4{
    font-size: 16px;
    font-weight: normal;
    color: #616161;
}

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

li{
    display: inline-block;
}

a{
    color: rgba(40, 84, 107, 0.5);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.6s ease;
}

small{
    font-size: 12px;
    font-weight: normal;
    color: rgba(221, 232, 233, 0.6);
}

.color{
    color: #28536B;
    margin: 0;
    letter-spacing: .1em;
    text-shadow: 
        -1px -1px 1px rgba(31, 64, 82, 0.05), 
        2px 2px 1px rgba(17, 36, 46, 0.2);

}

nav li:not(.seperator) a:hover{
    border-bottom: 2px solid #28536B;
    color: #28536B
}

nav li:not(.seperator) a:focus{
    border-bottom: 2px solid #28536B;
    color: #28536B;
}

nav ul{
    text-align: right;
    box-sizing: border-box;
    font-size: 18px;
}

nav li{
    margin: 5px 5px;
}

#fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 999;
    width: 100vw;
    max-width: 1280px;
    background-color: rgba(255, 255, 255);
    height: auto;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: 10px auto;
    box-shadow: 0 4px 4px -2px rgba(128, 128, 128, 0.774);
  }

.fix_header{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #52A4B3;
}

.fix_name{
    grid-column: 2/3;
    grid-row: 2/-1;
    text-align: left; 
    vertical-align: middle;
    font-family: 'Merriweather', serif;
}

.fix_nav{
    grid-column: 3/4;
    grid-row: 2/-1;
    text-align: right; 
    vertical-align: middle;
}

.fix_nav li:not(.seperator) a:hover{
    border-bottom: 2px solid #28536B;
    color: #28536B
}

.fix_nav li:not(.seperator) a:focus{
    border-bottom: 2px solid #28536B;
    color: #28536B;
}

.fix_nav ul{
    text-align: right;
    box-sizing: border-box;
    font-size: 18px;
}

.fix_nav li{
    margin: 5px 5px;
}

.footnav li:not(.seperator) a:hover{
    border-bottom: 2px solid #DDE8E9;
}

.Name{
    margin: 0 20px;
    transition: color 0.6s ease;
}

.active, .Name:hover {
    color: #52A4B3;
    text-decoration: none;
    border-bottom: 2px solid #52A4B3;
}

footer a{
    color: #DDE8E9;
}

.container{
    display: grid;
    margin: auto;
    background-color: white;
    grid-template-columns: 50px 1fr 3fr 3fr 1fr 50px;
    grid-template-rows: 10px auto auto auto auto auto;
    grid-row-gap: 30px;
    background-color: white;
    width: 100vw; 
    max-width: 1280px;
}

header{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #52A4B3;
    z-index: 101;
}

.name{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    text-align: left; 
    vertical-align: middle;
    font-family: 'Merriweather', serif;
    z-index: 101;
}

nav{
    grid-column: 4/6;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    text-align: right; 
    vertical-align: middle;
    z-index: 101;
}

/* css for jump to content */

.jump a{
    position: absolute;
    background-color: rgba(40, 84, 107, 0.3);
    top:-50px;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    font-weight: normal;
    color: white !important;
    font-weight: normal;
    right: 0;
    top: -50px;
    transition: top .25s ease-in-out;
    -moz-transition: top .25s ease-in-out;
    -webkit-transition: top .25s ease-in-out;
}

.jump a:focus{
    top: 15px;
}


/* css for projects page */

.picdiv{
    width: 100%;
    height: auto;
    transition: 0.6s ease;
    position: relative;
}

.greeting{
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(82, 164, 179, 0.2), rgba(82, 164, 179, 0.3),rgba(82, 164, 179, 0.3),  rgba(82, 164, 179, 0.5), rgba(82, 164, 179, 0.6));
    grid-column: 1/-1;
    grid-row: 3/4;
    position: relative;
}

.greeting div{
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.greeting h1{
    margin: 0;
}

.greeting h1:not(.swap){
    font-weight: normal;
    display: block;
    padding-top: 20px;
}

.project_container{
    grid-column: 1/-1;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 5fr 1fr 3fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-gap: 0;
}

#projects_greeting{
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 200px;
}

#projects_greeting h1{
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

#projects_greeting div{
    -ms-transform: translate(0, calc(-50% - 30px));
    transform: translate(0, calc(-50% - 30px));
}

.picdiv:hover div {
    opacity: 1;
}

.projectsPic{
    width: 100%;
}

.caption{
    padding-left: 10%;
    position: relative;
    grid-column: 1/2;
}

.caption_pic{
    padding-left: 10%;
    position: relative;
    grid-column: 1/2;
}

.projects_pic{
    grid-column: 3/-1;
}

.caption_container{
    top:50%;
    position: absolute;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#pro_umove{
    grid-column: 1/-1;
    grid-row: 2/3;
    background-image: linear-gradient(#afd0ff65,#afd0ff78);
}

#umove_caption{
    grid-row: 2/3;
}

#umove_pic{
    grid-row: 2/3;
}

#pro_intranet{
    grid-column: 1/-1;
    grid-row: 3/4;
    background-image: linear-gradient(#bebebe65,#bebebe78);
}

#intranet_caption{
    grid-row: 3/4;
}

#intranet_pic{
    grid-row: 3/4;
}

#pro_chi{
    grid-column: 1/-1;
    grid-row: 4/5;
    background-image: linear-gradient(#ffb5cb65,#ff91b265);
}

#chi_caption{
    grid-row: 4/5;
}

#chi_pic{
    grid-row: 4/5;
}

#projects_others{
    grid-column: 1/2;
    grid-row: 5/6;
    min-height: 200px;
}

#projects_others h1{
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

#pro_photography{
    grid-column: 1/-1;
    grid-row: 6/7;
    background-image: linear-gradient(#5ac2ab65,#5ac2ab41);
}

#photography_caption{
    grid-row: 6/7;
}

#photography_pic{
    grid-row: 6/7;
}

#pro_sna{
    grid-column: 1/-1;
    grid-row: 7/8;
    background-image: linear-gradient(#ffc40060,#c5970060);
}

#sna_caption{
    grid-row: 7/8;
}

#sna_pic{
    grid-row: 7/8;
}

#projects_finish{
    grid-column: 1/-1;
    grid-row: 8/-1;
    min-height: 200px;
    padding-left: 0;
    text-align: center;
}

#projects_finish div{
    left: 50%;
    transform: translate(-50%, -50%);
}

#projects_finish h1{
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

.picdiv a{
    display: inline-block;
    width: 100%;
    height: auto;
    font-weight: normal;
}

.picdiv img{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
}

.caption h1{
    margin: 0;
    font-size: 30px;
}

.caption h4{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.caption p{
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.swap{
    position: absolute;
    -ms-transform: translate(-50%, 5px);
    transform: translate(-50%, 5px);
    transition: opacity .3s ease-in;
    margin-bottom: 5px;
}

.swap + .swap {
    opacity: 0;
}

/* CSS for photography page */
.title{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #DDE8E9;
    padding:20px;
}

.gallery_container{
    display: grid;
    grid-column: 2/6;
    grid-row: 4/5;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(15,auto);
    grid-gap: 10px;
}

.picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_container div{
    height: auto;
    overflow: hidden;
    position: relative;
}

.picbox01{
    grid-column: 1/-1;
    grid-row: 1/2;
}

.picbox02{
    grid-column: 1/4;
    grid-row: 2/4;
}

.picbox03{
    grid-column: 4/-1;
    grid-row: 2/4;
}

.picbox04{
    grid-column: 1/3;
    grid-row: 4/6;
}

.picbox05{
    grid-column: 3/5;
    grid-row: 4/6;
}

.picbox06{
    grid-column: 5/-1;
    grid-row: 4/6;
}

.picbox07{
    grid-column: 1/4;
    grid-row: 6/9;
}

.picbox08{
    grid-column: 4/-1;
    grid-row: 6/9;
}

.picbox09{
    grid-column: 1/3;
    grid-row: 9/10;
}

.picbox10{
    grid-column: 3/5;
    grid-row: 9/10;
}

.picbox11{
    grid-column: 5/-1;
    grid-row: 9/12;
}

.picbox12{
    grid-column: 1/5;
    grid-row: 10/13;
}

.picbox13{
    grid-column: 5/-1;
    grid-row: 12/13;
}

.picbox14{
    grid-column: 1/4;
    grid-row: 13/-1;
}

.picbox15{
    grid-column: 4/-1;
    grid-row: 13/-1;
}

[class*=picbox]:hover p {
    opacity: 1;
}

[class*=picbox] img {
    vertical-align: top;
}

.gallery_container p{
    position: absolute;
    width: 100%;
    padding: 10px 0 10px 20px;
    margin: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    color: #28536B;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    z-index: 0;
}

.space{
    display: none;
}

/* CSS for about me */

.content{
    grid-column: 2/6;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.abouttitle{
    grid-column: 3/6;
    grid-row: 3/4;
    background-color: #DDE8E9;
    padding:20px;
    line-height: 2;
}

.abouttitle h1{
    font-weight: normal;
}

.abouts{
    grid-column: 1/2;
    grid-row: 1/2;
    line-height: 2;
    padding: 5px;
}

.content p{
    color: #5E5E5E
}

.profilePic{
    grid-column: 2/3;
    grid-row:3/4;
    padding: 20px 0 20px 5px;
    background-color: #DDE8E9;
    width: 100%;
    vertical-align: middle;
}

.mypic{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

.skills{
    grid-column: 2/-1;
    grid-row: 1/-1;
    padding: 0 10px;
}

.skills h3{
    background-color: #DDE8E9;
    padding: 10px;
    margin: 20px 0 10px 0;
}

.skills p{
    padding: 10px;
    margin: 0;
}

#formName, #formMesseage {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#formMail{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #28536B;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    border: rgb(29, 61, 78);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(29, 61, 78);
}

/* CSS for projectpage */

.projecttitle{
    grid-column: 1/-1;
    grid-row: 3/4;
    min-height: 250px; 
    background-attachment: fixed;
    background-position: 0px -70px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    line-height: 2;
}

.projecttitle div{
    margin: 0;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#umoveTitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url("../image/umove.jpg");
}

#chiTitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url("../image/lightbox_classification.jpg");
}

#intranetTitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url("../image/lsi_intranet.jpg");
}

#SNATitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),url("../image/SNA.jpg");
}

.projecttitle h2{
    color: white;
    font-size: 36px;
    max-width: 60%;
    margin: 0;
    margin-block-start: 0;
    margin-inline-start: 0px;
}

.projecttitle h3{
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.smalltitle{
    color: #52A4B3;
}

.abouts ul li{
    display: list-item;
    margin-left: 25px;
    text-align: left;
    list-style-type: circle;
}

.sample_container img{
    width: 100%;
}

.sample_1{
    grid-column: 1/3;
    grid-row: 1/-1;
    text-align: center;
}

.sample_2{
    grid-column: 3/5;
    grid-row: 1/-1;
    text-align: center;
}

.sample_3{
    grid-column: 5/-1;
    grid-row: 1/-1;
    text-align: center;
}

.sample_1for2{
    grid-column: 1/4;
    grid-row: 1/-1;
    text-align: center;
}

.sample_2for2{
    grid-column: 4/-1;
    grid-row: 1/-1;
    text-align: center;
}

.sample_full{
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
}

.abouts li{
    display: list-item;
    margin-left: 10px;
}

.gray{
    background-color: #f0f0f0;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.deepgray{
    background-color: #e2e2e2;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.deepgray .quotes{
    color: rgb(53, 53, 53);
}

.white{
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxshadow{
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
    margin-bottom: 20px;
}

.abouts p{
    padding-left: 25px;
}

.detail{
    padding-left: 10px !important;
}

.bottomless{
    padding-bottom: 0;
}

.quotebox{
    border-radius: 50px 50px 50px 0;
    width: fit-content;
    margin-left: 10px;
}

.quotebox h4{
    margin: 0.8em;
}

.with_detail{
    margin-bottom: 0;
}

.quotes{
    color: #5E5E5E;
    font-size: 24px;
}

.linkout{
    color: #5E5E5E;
    text-align: right;
    text-decoration: underline;
    font-weight: normal;
}

.sample_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
}

.sample_pic{
    width: 100%;
}

.sample_icon{
    width: 20%;
    float: right;
    padding: 10px;
    top:50%;
    position: relative;
}

.persona_container{
    margin: 10px 0 0 0;
    border-radius: 10px;
    overflow: hidden;
}

.persona{
    height: 100%;
    width: auto !important;
    -ms-transform: translate(-25%, 0);
    transform: translate(-25%, 0);
    vertical-align: top;
}

#non_user{
    -ms-transform: translate(-55%, 0);
    transform: translate(-55%, 0);
}

#personaInfo{
    font-weight: bold;
    padding: 10px 0 10px 20px;
    text-align: left;
}

#personaList li{
    list-style-type: none;
    font-weight: bold;
    margin-left: 0;
}

#personaList ul li{
    list-style-type: circle;
    margin-left: 25px;
    color: #5E5E5E;
    font-weight: normal;
    list-style-position: outside;
}

.qoc p{
    text-align: left;
}

.qoc_pic{
    margin-top: 1.33em;
}

.paperPrototype{
    width: 100%;
}

.workingOn{
    text-align: center;
    color: rgb(141, 141, 141);
}

/* CSS for Socail Network Analysis */
#SNA{
    border: 2px solid lightgray;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.SNAbutton{
    border: 2px solid #666666;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    width: auto;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin: 10px 0 0 5px;
    padding: 10px;
    cursor: pointer;
}

.SNAbutton:hover{
    background-color: rgba(82, 164, 179, 0.1);
    color: #5E5E5E;
}

.showing{
    background-color: rgba(40, 84, 107);
    border-color: rgba(40, 84, 107);
    color: white;
}

.SNAinfocontainer{
    border: 2px solid rgba(40, 84, 107);
    border-radius: 5px;
    background: rgba(40, 84, 107);
}

.SNAinfo{
    background-color: white;
    display: none;
    padding: 5px 20px;
    border-radius: 0 0 5px 5px;
}

.showinfo{
    display: block;
}

/* CSS for footer */
footer{
    background-color: #28536B;
    grid-column: 1 / -1;
    grid-row: 6 / auto;
    padding-top: 15px;
    text-align: center;
}

.footnav li{
    margin: 10px;
}

#socialnetwork img {
    width: 30px;
    margin-left:  20px;
    margin-right: 20px;
}

#gotop{
    cursor: pointer;
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgba(40, 84, 107, 0.4);
    color: white;
}

#gotop:hover{
    background-color: #28536B;
}

@media screen and (max-width:1100px){
    .SNAbutton{
        border: 2px solid #666666;
        border-radius: 5px;
        width: auto;
        display: block;
        text-align: center;
        font-size: 15px;
        margin: 10px 0 10px 5px;
        padding: 10px;
        cursor: pointer;
    }

    .caption{
        min-height: 300px;
    }

    .projects_pic{
        grid-column: 2/-1;
        position: relative;
    }

    .projects_pic img{
        position: absolute;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        top:50%

    }
}

@media screen and (max-width:830px){
    .container{
        grid-template-rows: 10px auto auto auto auto auto auto auto;
        grid-row-gap: 10px;
    }

    .name{
        grid-column: 2/6;
        text-align: center;
    }

    nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        text-align: center;
    }    

    nav ul{
        text-align: center;
        margin: 10px 0;
    }

    .fix_name{
        grid-column: 1/-1;
        text-align: center;
    }

    .fix_nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        text-align: center;
    }    

    .fix_nav ul{
        text-align: center;
        margin: 10px 0;
    }

    .greeting{
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    .project_container{
        grid-row: 6/7;
    }

    #projects_greeting{
        grid-column: 1/-1;
    }

    #projects_others{
        grid-column: 1/-1;
    }

    .caption{
        min-height: 400px;
    }

    footer{
        grid-row: 8/auto;
    }

    .title{
        grid-column: 2/6;
        grid-row: 5/6;
    }

    .gallery_container p{
        opacity: 1;
    }

    .gallery_container{
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: 15;
    }

    .picbox01{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    .picbox02{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    
    .picbox03{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    
    .picbox04{
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    
    .picbox05{
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    
    .picbox06{
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    
    .picbox07{
        grid-column: 1/-1;
        grid-row: 7/8;
    }
    
    .picbox08{
        grid-column: 1/-1;
        grid-row: 8/9;
    }
    
    .picbox09{
        grid-column: 1/-1;
        grid-row: 9/10;
    }
    
    .picbox10{
        grid-column: 1/-1;
        grid-row: 10/11;
    }
    
    .picbox11{
        grid-column: 1/-1;
        grid-row: 11/12;
    }
    
    .picbox12{
        grid-column: 1/-1;
        grid-row: 12/13;
    }
    
    .picbox13{
        grid-column: 1/-1;
        grid-row: 13/14;
    }
    
    .picbox14{
        grid-column: 1/-1;
        grid-row: 14/15;
    }
    
    .picbox15{
        grid-column: 1/-1;
        grid-row: 15/16;
    }

    .abouttitle{
        grid-column: 2/6;
        grid-row: 4/5;
    }

    .profilePic{
        display: none;
    }

    .content{
        grid-column: 2/6;
        grid-row: 5/6;
    }

    .projecttitle{
        grid-column: 2/6;
        grid-row: 4/5;
    }

    .persona{
        width: 100%;
        height: auto;
        float: none;
    }

    #personaInfo{
        padding-left: 0;
        margin-top: 0;
        text-align: center;
    }

}

@media screen and (max-width:500px){
    .container{
        width: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 10px auto auto 50px auto auto auto auto;
        grid-row-gap: 0px;
    }

    .greeting h1{
        font-size: 20px;
    }

    .name{
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: #DDE8E9;
    }

    nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        background-color: #DDE8E9;
        text-align: center;
    }

    .fix_name{
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: #DDE8E9;
    }

    .fix_nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        background-color: #DDE8E9;
        text-align: center;
    }

    .seperator{
        display: none;
    }

    .greeting{
        grid-column: 1/-1;
        grid-row: 4/6;
    }

    .project_container{
        grid-column: 1/-1;
        grid-row: 7/8;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, auto);
    }

    .caption h1 {
        margin: 0;
        font-size: 20px;
    }

    .caption h4 {
        margin: 0;
        font-size: 16px;
    }

    .caption p{
        font-size: 16px;
    }

    .caption{
        grid-column: 1/-1;
        min-height: 200px;
    }

    .projects_pic{
        grid-column: 1/-1;
        min-height: 250px;
    }

    #pro_umove{
        grid-row: 2/4;
    }

    #umove_pic {
        grid-row: 3/4;
    }

    #pro_intranet{
        grid-row: 4/6;
    }

    #intranet_caption{
        grid-row: 4/5;
    }

    #intranet_pic {
        grid-row: 5/6;
    }

    #pro_chi{
        grid-row: 6/8;
    }

    #chi_caption{
        grid-row: 6/7;
    }

    #chi_pic {
        grid-row: 7/8;
    }

    #projects_others{
        grid-row: 8/9;
    }

    #pro_photography{
        grid-row: 9/11;
    }

    #photography_caption{
        grid-row: 9/10;
    }

    #photography_pic {
        grid-row: 10/11;
    }

    #pro_sna{
        grid-row: 11/13;
    }

    #sna_caption{
        grid-row: 11/12;
    }

    #sna_pic {
        grid-row: 12/13;
    }

    #projects_finish{
        grid-row: 13/-1;
    }

    #projects_finish h1{
        font-size: 20px;
        font-weight: normal;
    }

    #projects_greeting {
        padding-left: 5%;
    }

    #projects_greeting div{
        transform: translate(0,-55%);
    }

    #projects_greeting h1 {
        font-size: 20px;
        font-weight: normal;
        margin-top: 20px;
    }

    #projects_finish div {
        width: 90%;
    }

    .active, .Name:hover {
        border: none;
    }

    .title{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-bottom: 15px;
    }

    .gallery_container p{
        opacity: 1;
    }

    .gallery_container{
        grid-column: 1/-1;
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: 15;
        margin-bottom: 15px;
    }

    .space{
        display: inline;
    }

    .abouttitle{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .profilePic{
        display: none;
    }

    .content{
        grid-column: 1/-1;
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
    }

    iframe{
        width: 100%;
    }

    .persona{
        margin: 0;
    }

    .abouts{
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .skills{
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .projecttitle{
        grid-column: 1/-1;
        grid-row: 5/6;
    }

    .sample_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
    }
    
    .sample_1{
        grid-column: 1/-1;
        grid-row: 1/2;
        text-align: center;
    }
    
    .sample_2{
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }
    
    .sample_3{
        grid-column: 1/-1;
        grid-row: 3/-1;
        text-align: center;
    }

    footer{
        grid-column: 1/-1;
        grid-row: 8/-1;
    }

    .abouts p{
        text-align: start;
    }

    #personaList ul li{
        text-align: start;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }

    a{
        transition: none;
    }

    .color{
        text-shadow: none;
    }

    .gallery_container p{
        opacity: 1;
    }
}