html{
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
    color: rgb(51, 51, 51);
}

body{
    background-color: #F7F7F7;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 24px;
    color: rgb(51, 51, 51);
    vertical-align: middle;
    display: inline-block;
}

h2{
    font-size: 24px;
    color: #4999A7;
    font-weight: bolder;
    display: inline;
    vertical-align: middle;
}

h3{
    font-size: 22px;
    font-weight: bold;
}

.saymore{
    color: #666666;
    font-weight: normal;
    font-size: 18px;
}

h4{
    font-size: 16px;
    font-weight: bold;
    color: #616161;
}

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

li{
    display: inline-block;
    padding: 20px, 0;
    margin: 20px, 0;
}

a{
    color: rgba(40, 84, 107, 0.5);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.6s ease;
}

small{
    font-size: 12px;
    font-weight: normal;
    color: rgba(221, 232, 233, 0.6);
}

.color{
    color: #28536B;
    margin: 0;
    letter-spacing: .1em;
    text-shadow: 
        -1px -1px 1px rgba(31, 64, 82, 0.05), 
        2px 2px 1px rgba(17, 36, 46, 0.2);

}

nav a:hover{
    border-bottom: 2px solid #28536B;
    color: #28536B
}

nav a:focus{
    border-bottom: 2px solid #28536B;
    color: #28536B
}

nav ul{
    text-align: right;
}

nav li{
    margin: 5px 5px;
}

.footnav a:hover{
    border-bottom: 2px solid #DDE8E9;
}

.Name{
    margin: 0 20px;
    transition: color 0.6s ease;
}

.active, .Name:hover {
    color: #52A4B3;
    text-decoration: none;
    border-bottom: 2px solid #52A4B3;
}

footer a{
    color: #DDE8E9;
}

.container{
    display: grid;
    margin: auto;
    background-color: white;
    grid-template-columns: 50px 1fr 3fr 3fr 1fr 50px;
    grid-template-rows: 10px auto auto auto auto auto;
    grid-row-gap: 30px;
    width: 100vw; 
    max-width: 1280px;
}

header{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #52A4B3;
}

.name{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    text-align: left; 
    vertical-align: middle;
}

nav{
    grid-column: 4/6;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    text-align: right; 
    vertical-align: middle;
}

/* css for jump to content */

.jump a{
    position: absolute;
    background-color: rgba(40, 84, 107, 0.3);
    top:-50px;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    font-weight: normal;
    color: white !important;
    font-weight: normal;
    right: 0;
    top: -50px;
    transition: top .25s ease-in-out;
    -moz-transition: top .25s ease-in-out;
    -webkit-transition: top .25s ease-in-out;
}

.jump a:focus{
    top: 15px;
}


/* css for projects page */
.projectsView{
    grid-column: 2/6;
    grid-row: 3/4;
    overflow: hidden;
    text-align: center;
    height: auto;
    position: relative;
}

.picdiv{
    display: none;
    width: 100%;
    height: auto;
    transition: 0.6s ease;
}

.picdiv a{
    display: inline-block;
    width: 100%;
    height: auto;
}

.picdiv img{
    display: inline-block;
    width: 100%;
    height: auto;
}

.projectsPic{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: rgba(82, 164, 179, 0.4);
}

.previous {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.previous:hover, .next:hover {
    background-color: #52A4B3;
    text-decoration: none;
}

.picdiv p{
    position: absolute;
    width: 100%;
    padding: 20px 0px;
    margin: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    color: #28536B;
    font-size: 16px;
    font-weight: bold;
    z-index: 0;
}

.projectsName{
    grid-column: 2/6;
    grid-row: 4/5;
}

/* CSS for photography page */
.title{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: #DDE8E9;
    padding:20px;
}

.gallery_container{
    display: grid;
    grid-column: 2/6;
    grid-row: 4/5;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(15,auto);
    grid-gap: 10px;
}

.picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery_container div{
    height: auto;
    overflow: hidden;
    position: relative;
}

.picbox01{
    grid-column: 1/-1;
    grid-row: 1/2;
}

.picbox02{
    grid-column: 1/4;
    grid-row: 2/4;
}

.picbox03{
    grid-column: 4/-1;
    grid-row: 2/4;
}

.picbox04{
    grid-column: 1/3;
    grid-row: 4/6;
}

.picbox05{
    grid-column: 3/5;
    grid-row: 4/6;
}

.picbox06{
    grid-column: 5/-1;
    grid-row: 4/6;
}

.picbox07{
    grid-column: 1/4;
    grid-row: 6/9;
}

.picbox08{
    grid-column: 4/-1;
    grid-row: 6/9;
}

.picbox09{
    grid-column: 1/3;
    grid-row: 9/10;
}

.picbox10{
    grid-column: 3/5;
    grid-row: 9/10;
}

.picbox11{
    grid-column: 5/-1;
    grid-row: 9/12;
}

.picbox12{
    grid-column: 1/5;
    grid-row: 10/13;
}

.picbox13{
    grid-column: 5/-1;
    grid-row: 12/13;
}

.picbox14{
    grid-column: 1/4;
    grid-row: 13/-1;
}

.picbox15{
    grid-column: 4/-1;
    grid-row: 13/-1;
}

[class*=picbox]:hover p {
    opacity: 1;
}

.gallery_container p{
    position: absolute;
    width: 100%;
    padding: 10px 0 10px 20px;
    margin: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    color: #28536B;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    z-index: 0;
}

.space{
    display: none;
}

/* CSS for about me */

.content{
    grid-column: 2/6;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}

.abouttitle{
    grid-column: 3/6;
    grid-row: 3/4;
    background-color: #DDE8E9;
    padding:20px;
    line-height: 2;
}

.abouts{
    grid-column: 1/3;
    grid-row: 1/2;
    line-height: 2;
    text-align: justify;
    padding: 5px;
}

.content p{
    color: #5E5E5E
}

.leaveMesseage{
    grid-column: 1/3;
    grid-row: 2/-1;
}

.profilePic{
    grid-column: 2/3;
    grid-row:3/4;
    padding: 20px 0 20px 5px;
    background-color: #DDE8E9;
    width: 100%;
    vertical-align: middle;
}

.mypic{
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
}

.skills{
    grid-column: 3/-1;
    grid-row: 1/-1;
    padding: 0 10px;
}

.skills h3{
    background-color: #DDE8E9;
    padding: 10px;
    margin: 20px 0 10px 0;
}

.skills p{
    padding: 10px;
    margin: 0;
}

.contact{
    grid-column: 3/5;
    grid-row: 5/6;
    background-color: #DDE8E9;
    border: 1px solid #52A4B3;
    padding: 5%;
}

.contact h3{
    text-align: center;
    margin: 0 0 20px 0;
}

.contact label{
    color: #666666;
}

#formName, #formMesseage {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#formMail{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #28536B;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    border: rgb(29, 61, 78);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(29, 61, 78);
}

/* CSS for projectpage */

.projecttitle{
    grid-column: 1/-1;
    grid-row: 3/4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.609)),url("../image/umove.jpg");
    min-height: 100px; 
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
    line-height: 2;
}

#lightboxTitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.609)),url("../image/lightbox_classification.jpg");
}

#lSITitle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.609)),url("../image/lsi_intranet.jpg");
}

.projecttitle h3{
    color: white;
    padding: 0 10%;
}

.abouts ul li{
    display: list-item;
    margin-left: 25px;
    text-align: left;
    list-style-type: circle;
}

.abouts p{
    text-align: justify;
    padding-left: 25px;
}

.sketch{
    width: 100%;
}

.persona{
    height: 170px;
    float: left;
    margin: 0 10px 10px 0;
}

#personaInfo{
    color: rgb(51, 51, 51);
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

#personaList li{
    list-style-type: none;
    font-weight: bold;
    margin-left: 0;
}

#personaList ul li{
    list-style-type: circle;
    margin-left: 25px;
    color: #5E5E5E;
    font-weight: normal;
    list-style-position: outside;
    text-align: justify;
}

.paperPrototype{
    width: 100%;
}

.workingOn{
    text-align: center;
    color: rgb(141, 141, 141);
}

/* CSS for footer */
footer{
    background-color: #28536B;
    grid-column: 1 / -1;
    grid-row: 6 / auto;
    padding-top: 15px;
    text-align: center;
}

.footnav li{
    margin: 10px;
}

#socialnetwork img {
    width: 30px;
    margin-left:  20px;
    margin-right: 20px;
}

#gotop{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgba(40, 84, 107, 0.4);
}

#gotop:hover{
    background-color: #28536B;
}

@media screen and (max-width:800px){
    .container{
        grid-template-rows: 10px auto auto auto auto auto auto auto;
        grid-row-gap: 10px;
    }

    .name{
        grid-column: 2/6;
        text-align: center;
    }

    nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        text-align: center;
    }    

    nav ul{
        text-align: center;
        margin: 10px 0;
    }

    .projectsView{
        grid-row: 5/6;
    }

    .projectsName{
        grid-row: 6/7;
    }

    .projectsName li{
        display: list-item;
        margin: 10px 0px;
    }

    footer{
        grid-row: 8/auto;
    }

    .title{
        grid-column: 2/6;
        grid-row: 5/6;
    }

    .gallery_container p{
        opacity: 1;
    }

    .gallery_container{
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: 15;
    }

    .picbox01{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    
    .picbox02{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    
    .picbox03{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    
    .picbox04{
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    
    .picbox05{
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    
    .picbox06{
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    
    .picbox07{
        grid-column: 1/-1;
        grid-row: 7/8;
    }
    
    .picbox08{
        grid-column: 1/-1;
        grid-row: 8/9;
    }
    
    .picbox09{
        grid-column: 1/-1;
        grid-row: 9/10;
    }
    
    .picbox10{
        grid-column: 1/-1;
        grid-row: 10/11;
    }
    
    .picbox11{
        grid-column: 1/-1;
        grid-row: 11/12;
    }
    
    .picbox12{
        grid-column: 1/-1;
        grid-row: 12/13;
    }
    
    .picbox13{
        grid-column: 1/-1;
        grid-row: 13/14;
    }
    
    .picbox14{
        grid-column: 1/-1;
        grid-row: 14/15;
    }
    
    .picbox15{
        grid-column: 1/-1;
        grid-row: 15/16;
    }

    .abouttitle{
        grid-column: 2/6;
        grid-row: 4/5;
    }

    .profilePic{
        display: none;
    }

    .content{
        grid-column: 2/6;
        grid-row: 5/6;
    }

    .leaveMesseage{
        grid-column: 1/-1;
        grid-row: 2/-1;
    }

    .contact{
        grid-column: 2/6;
        grid-row: 6/7;
    }

    .projecttitle{
        grid-column: 2/6;
        grid-row: 4/5;
    }

    .persona{
        width: 100%;
        height: auto;
        float: none;
    }

    #personaInfo{
        padding-left: 0;
        margin-top: 0;
        text-align: center;
    }
}

@media screen and (max-width:500px){
    .container{
        width: 100%;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 10px auto auto 50px auto auto auto;
        grid-row-gap: 0px;
    }

    .name{
        grid-column: 1/-1;
        grid-row: 2/3;
        background-color: #DDE8E9;
    }

    nav{
        grid-column: 1/-1;
        grid-row: 3/4;
        background-color: #DDE8E9;
        text-align: center;
    }

    .seperator{
        display: none;
    }

    .projectsView{
        grid-column: 1/-1;
        grid-row: 5/6;
    }

    .projectsName{
        grid-column: 1/-1;
        grid-row: 6/7;
        padding-bottom: 10px;
    }

    .active, .Name:hover {
        border: none;
    }

    .title{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-bottom: 15px;
    }

    .gallery_container p{
        opacity: 1;
    }

    .gallery_container{
        grid-column: 1/-1;
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: 15;
        margin-bottom: 15px;
    }

    .space{
        display: inline;
    }

    .abouttitle{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .profilePic{
        display: none;
    }

    .content{
        grid-column: 2/3;
        grid-row: 6/7;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
    }

    .abouts{
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .skills{
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .leaveMesseage{
        grid-column: 1/-1;
        grid-row: 3/-1;
        padding: 10px;
        border-top: 1px solid lightgray;
    }

    .contact{
        grid-column: 2/3;
        grid-row: 7/8;
        margin-bottom: 15px;
    }

    .projecttitle{
        grid-column: 1/6;
        grid-row: 5/6;
    }

    footer{
        grid-column: 1/-1;
        grid-row: 7/-1;
    }

}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }

    a{
        transition: none;
    }

    .color{
        text-shadow: none;
    }

    .gallery_container p{
        opacity: 1;
    }
}